<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor.</p>
<ol><li><%= link_to 'Contact', page_path('contact') %></li></ol>
